:root {
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent -white: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

body {
    font-family: "lexend deca", sans-serif;
    background-color: var(--Very-dark-blue);
}

p {
    font-size: 15px;
    line-height: 1.6;
}

.container {
    background-color: var(--Dark-desaturated-blue);
    margin: 50px 20px;
    padding: 0 0 20px;
    border-radius: 10px;
}

.container .picture  {
    background: url(./images/image-header-mobile.jpg)
    no-repeat center/cover;
    height: 400px;
}

.container .picture .overlay {
    background-color: hsla(277, 64%, 61%, .5);
    height: 400px;
}

.container .picture img {
    border-radius: 10px 10px 0 0;
}
    

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

