body {
    background: hsl(233, 47%, 7%);
}

h1 {
    color: white;
    text-align: left;
    padding: 3rem;
    margin-bottom: 1rem;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    text-align: left;
}

.stat-head {
    color: hsla(0, 0%, 100%, 0.6);
    display: flexbox;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

span {
    color: hsl(277, 64%, 61%);
}

